
.skills-html {
    width: 100px;
    height: 100px;  
    position: absolute;
    border-radius: 50%;
    background: #0cc;
}
.skills-css {
    width: 100px;
    height: 100px;  
    position: absolute;
    border-radius: 50%;
    background: #0cc;
	left:120px;
}
.skills-javascript {
    width: 100px;
    height: 100px;  
    position: absolute;
    border-radius: 50%;
    background: #0cc;
	left:230px;
}
.skills-java {
    width: 100px;
    height: 100px;  
    position: absolute;
    border-radius: 50%;
    background: #0cc;
	left:340px;
}
.skills-python {
    width: 100px;
    height: 100px;  
    position: absolute;
    border-radius: 50%;
    background: #0cc;
	top:140px;
	left:0;
	margin-top:40px;
}
.skills-angularjs {
    width: 100px;
    height: 100px;  
    position: absolute;
    border-radius: 50%;
    background: #0cc;
	top:140px;
	left:120px;
	margin-top:40px;
}
.skills-linux {
    width: 100px;
    height: 100px;  
    position: absolute;
    border-radius: 50%;
    background: #0cc;
	top:140px;
	left:230px;
	margin-top:40px;
}
.skills-oracle {
    width: 100px;
    height: 100px;  
    position: absolute;
    border-radius: 50%;
    background: #0cc;
	top:140px;
	left:340px;
	margin-top:40px;
}
.skills-p {position:relative;top:100px;left:25px;color:white;}
.pie_left, .pie_right {
    width: 100px; 
    height: 100px;
    position: absolute;
    top: 0;left: 0;
}
.left, .right {
    display: block;
    width:100px; 
    height:100px;
    background:#00aacc;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;   
}
.pie_right, .right {
    clip:rect(0,auto,auto,50px);
}
.pie_left, .left {
    clip:rect(0,50px,auto,0);
}
.mask {       /*实现环形外貌*/
    width: 75px;
    height: 75px;
    border-radius: 50%;
    left: 12.5px;
    top: 12.5px;
    background: #FFF;
    position: absolute;
    text-align: center;
    line-height: 75px;
    font-size: 16px;
	color:#428BCA;
}