/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/
body,input,textarea,select
{
	line-height: 1.65em;
	font-size: 13pt;
}
h2
{
	font-size: 1.65em;
	font-weight: 400;
	letter-spacing: 4px;
	margin: 0 0 1.5em 0;
	line-height: 1.75em;
}
h3
{
	font-size: 1em;
	letter-spacing: 2px;
	margin: 0 0 1.25em 0;
}
/* Tables */
	table
	{
	}
		table.style1
		{
		}	
			table.style1 thead
			{
				font-size: 0.85em;
				letter-spacing: 2px;
			}
/* Lists */
	ul.actions
	{
	}
		ul.actions li
		{
			display: inline-block;
			margin-left: 1em;
		}
		ul.actions li:first-child
		{
			margin-left: 0;
		}
	ul.divided
	{
	}
		ul.divided li
		{
			margin: 2.5em 0 0 0;
			padding: 2.5em 0 0 0;
		}
/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/
#header-wrapper
{
}
#features-wrapper
{
	padding: 6em 0 6em 0;
}
#banner-wrapper
{
	padding: 3em 0 3em 0;
}
#main-wrapper
{
	padding: 6em 0 6em 0;
}
#footer-wrapper
{
	padding: 6em 0 8em 0;
}
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
#header
{
	padding: 14em 0 7em 0;
}
	#header h1
	{
		font-size: 3em;
		letter-spacing: 13px;
	}
	#header p
	{
		margin: 2.5em 0 0 0;
		font-size: 0.85em;
		letter-spacing: 2px;
	}
/*********************************************************************************/
/* Nav                                                                        */
/*********************************************************************************/
#nav
{
	font-family: '微软雅黑';
	position: absolute;
	top: 1em;
	left: 0;
	width: 100%;
}
	#nav > ul > li
	{
		display: inline-block;
		padding-right: 2em;
	}
		#nav > ul > li:last-child
		{
			padding-right: 0;
		}
		#nav > ul > li > a
		{
			display: block;
		}
			#nav > ul > li > a > span
			{
				font-size: 0.85em;
				letter-spacing: 3px;
			}
		#nav > ul > li > ul
		{
			display: none;
			border: 1px solid #D8D8D8;
			border-radius: 5px;
			border-bottom-color: #ffffff;
			color: #ff00ff;
			background-color: #ffffff;
		}
		
/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/
#banner
{
	padding: 10em 0 10em 0;
}
	#banner p
	{
		font-size: 2em;
		line-height: 1.5em;
		letter-spacing: 4px;
	}
	#banner:before,
	#banner:after
	{
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		width: 35px;
		height: 141px;
		margin-top: -70px;
		background: url('images/bracket.svg');
		opacity: 0.15;
	}
	#banner:before
	{
		left: 0;
	}
	#banner:after
	{
		right: 0;
		-moz-transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
		-o-transform: scaleX(-1);
		-ms-transform: scaleX(-1);
		transform: scaleX(-1);
	}
/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/
#copyright
{
	padding-top: 2em;
}